* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

header,
body {
  background-color: #f0f8ff;
}

.header {
  margin: 30px;
  font-size: 30px;
}

.main {
  margin: 30px;
}

.form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__add {
    margin-top: 10px;
  }
}

.label {
  margin: 10px 0px;
  font-weight: bold;
}

.input {
  width: 250px;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #ffc0cb;
}

.select {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffc0cb;
}

.table {
  width: 80%;
  margin-top: 20px;
  border: 1px solid #000;

  &__thead {
    background-color: #ffc0cb;

    &--item {
      font-size: 15px;
      padding: 5px 0;
    }
  }

  &__body {
    &:nth-child(even) {
      background-color: #d8bfd8;
    }
    &--item {
      width: 25%;
      padding: 5px 0 5px 10px;
    }
  }
}

.btn {
  width: 200px;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #336b87;
  color: #fff;
  font-size: 15px;
}
ul {
  list-style: none;
}
